.club-header {
    margin-top: 0px !important;
    background-image: url("/assets/myClubHeader.png");
    height: 160px;
    /*width: 1100px;*/
    background-position: center center;
    border: 1px solid transparent;
}

.club-navbar {
    background-image: url("/assets/myClubNav.png");
    background-repeat: no-repeat;
    position: relative;
    top: 30px;
    height: 30px;
    width: 1100px;
}

ul>li {
    display: block;
    float:left;
    color: rgba(255,255,255,0.95);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 20px 5px 20px;
}

ul>li>a {
    color: rgba(255,255,255,0.95);
    outline: none;
}
ul>li>a:focus {
    color: rgb(249, 245, 26);
    text-decoration: none;
}

.active {
    color: rgb(249, 245, 26) !important;
    text-decoration: none;
}

ul>li>a:hover {
    color: rgb(249, 245, 26);
    text-decoration: none;
}

.logo {
    position: relative;
    top: 25px;
}