<div class="club-header">
  <div class="container">
      <div class="club-navbar">
        <ul>
          <li><a routerLinkActive="active"  routerLink="/home">HOME</a></li>
          <li><a routerLinkActive="active" routerLink="about">ABOUT</a></li>
          <li><a routerLinkActive="active"  [routerLink]="['events', 'concerts']">CONCERTS</a></li>
          <li><a routerLinkActive="active"  [routerLink]="['/events', 'parties']">PARTIES</a></li>
        </ul>
      </div>
      <div class="logo">
        <a routerLink="/home"><img src="../../assets/logo.png" alt="My CLUB" width="200" height="100"></a>
      </div>
  </div>
</div>

