<div class="container">
<div class="line"></div>
<div class="footer-nav">
    <a href="https://facebook.com" target="_blank"  id="facebook-anchor"><div class="club-link facebook-link"></div></a>
    <a href="https://myspace.com" target="_blank"  id="myspace-anchor"><div class="club-link myspace-link"></div></a>
    <a href="https://twitter.com" target="_blank"  id="twitter-anchor"><div class="club-link twitter-link"></div></a>
    <a href="https://youtube.com" target="_blank"  id="youtube-anchor"><div class="club-link youtube-link"></div></a>
</div>
<div class="row" ></div>
</div>
