.club-link{
    float: left;
    width: 100px;
    height: 40px;
    overflow: hidden;
    margin: 10px 50px 0px 10px;
}

.facebook-link {
    background-image: url("../../assets/links/social-facebook.png");
}
.myspace-link {
    background-image: url("../../assets/links/social-myspace.png");
}
.twitter-link {
    background-image: url("../../assets/links/social-twitter.png");
}
.youtube-link {
    background-image: url("../../assets/links/social-youtube.png");
}

#facebook-anchor:hover {
    .facebook-link {
    background-position: center -200px;
    }
}
#myspace-anchor:hover {
    .myspace-link {
    background-position: center -200px;
    }
}
#twitter-anchor:hover {
    .twitter-link {
    background-position: center -200px;
    }
}
#youtube-anchor:hover {
    .youtube-link {
    background-position: center -200px;
    }
}

.footer-nav {
    z-index: 10;
}

