<div class="container">
  <div class="top-row">
    <div class="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend purus egestas augue
        feugiat sollicitudin. Nunc imperdiet porttitor velit quis consequat. Orci varius natoque penatibus
        et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque commodo consectetur lectus,
        id venenatis turpis lacinia vel. Integer ne Donec varius arcu eget lobortis efficitur. Curabitur
        at tortor odio. Praesent sit amet condimentum orci. Donec in nibh vel libero elementum rutrum et eu
        risus. Pellentesque eleifend ut erat in sollicitudin. Integer tempor aliquam lectus ac tempor.
        Maecenas nisi lectus, porta vel tristique sit amet, rutrum a nisi. Aenean tincidunt mollis urna,
        ut vulputate eros dignissim id. Integer ullamcorper lacus eget arcu egestas, at rhoncus tortor placerat.
        Praesent non tortor et augue faucibus ornare vitae sed quam. In eget nibh suscipit, faucibus libero vitae,
        placerat nisi. Cras non dolor vel lorem malesuada aliquam. Aenean molestie enim vel imperdiet venenatis.
        Etiam id ligula interdum, tristique ex quis, maximus velit.
        <br>
        <br>
        <h3>Donec magna est, venenatis eu mollis non, molestie sit amet dui</h3>
        Donec magna est, venenatis eu mollis non, molestie sit amet dui. Aenean in sodales sapien. Morbi
        consectetur quis dui eu condimentum. Aenean at purus ante. In sodales leo non diam varius dictum.
        In dictum magna eget lorem tincidunt dignissim. Vivamus ac est vitae velit porta efficitur accumsan placerat orci. Cras vehicula sapien justo. Aliquam sed aliquam nunc, vel eleifend eros. Praesent viverra turpis odio, ac hendrerit orci lacinia nec.

        Sed erat mi, placerat eu consequat eget, lobortis tincidunt odio. Maecenas ornare lorem a mauris
        fringilla mollis. Curabitur varius velit ut metus efficitur, id faucibus augue egestas. Aenean 
        urna tortor, condimentum vitae suscipit quis, venenatis at nibh. Suspendisse potenti. Ut iaculis
        nibh nec volutpat commodo, sapien nisl viverra purus, sit amet porttitor tortor quam id nunc.
        Sed posuere vitae quam dapibus mattis. Nunc vel risus non tellus vehicula euismod nec pellentesque
        turpis. Ut id turpis eget odio faucibus efficitur. Maecenas eu ligula vehicula, pulvinar justo 
            
        <h3>non, faucibus metus. Vivamus nisi sapien, placerat eget sapien a, consequat fringilla diam.
            Phasellus nunc orci, tempor at ex ac, fermentum euismod lorem.</h3>

        Sed erat mi, placerat eu consequat eget, lobortis tincidunt odio. Maecenas ornare lorem a mauris
        fringilla mollis. Curabitur varius velit ut metus efficitur, id faucibus augue egestas. Aenean 
        urna tortor, condimentum vitae suscipit quis, venenatis at nibh. Suspendisse potenti. Ut iaculis
        , nibh nec volutpat commodo, sapien nisl viverra purus, sit amet porttitor tortor quam id nunc.
          Sed posuere vitae quam dapibus mattis. Nunc vel risus non tellus vehicula euismod nec pellentesque
          turpis. Ut id turpis eget odio faucibus efficitur. Maecenas eu ligula vehicula, pulvinar justo 
          
          non, faucibus metus. Vivamus nisi sapien, placerat eget sapien a, consequat fringilla diam.
          Phasellus nunc orci, tempor at ex ac, fermentum euismod lorem.
    </div>
    <div class="about">
        <h3>Mauris mattis, risus sit amet lobortis elementum</h3>
        neque nisi luctus erat, at iaculis mauris mauris eget mauris. Suspendisse finibus, ligula a accumsan
        volutpat, magna metus ullamcorper lorem, condimentum dignissim purus neque quis est. Nunc fringilla
        sapien non tincidunt aliquam. Phasellus nisl dui, faucibus at purus vel, placerat pulvinar sapien.
        Nullam varius, diam eget tincidunt ornare, orci augue cursus eros, eu ultricies nunc sem at quam.
        Duis ipsum magna, faucibus id interdum id, mollis non libero. Ut sit amet pharetra enim. Sed in
        porta lacus. Suspendisse risus enim, scelerisque quis turpis vitae, auctor dapibus nibh. Lorem 
        ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate at erat vitae varius.
        Aenean vulputate non lacus eget semper. Praesent iaculis tincidunt ipsum, sed consequat orci
        auctor in. Phasellus a magna sit amet est venenatis imperdiet semper in nunc. Integer sodales
        eros ut justo cursus, sit amet faucibus diam feugiat. 
        Donec varius arcu eget lobortis efficitur. Curabitur
        at tortor odio. Praesent sit amet condimentum orci. Donec in nibh vel libero elementum rutrum et eu
        risus. Pellentesque eleifend ut erat in sollicitudin. Integer tempor aliquam lectus ac tempor.
        Maecenas nisi lectus, porta vel tristique sit amet, rutrum a nisi. Aenean tincidunt mollis urna,
        ut vulputate eros dignissim id. Integer ullamcorper lacus eget arcu egestas, at rhoncus tortor
          
        Donec magna est, venenatis eu mollis non, molestie sit amet dui. Aenean in sodales sapien. Morbi
        consectetur quis dui eu condimentum. Aenean at purus ante. In sodales leo non diam varius dictum.
        In dictum magna eget lorem tincidunt dignissim. Vivamus ac est vitae velit porta efficitur accumsan
        placerat orci. Cras vehicula sapien justo. Aliquam sed aliquam nunc, vel eleifend eros. Praesent
        viverra turpis odio, ac hendrerit orci lacinia nec.


       <h3> Mauris mattis, risus sit amet lobortis elementum</h3>
       neque nisi luctus erat, at iaculis mauris mauris
       eget mauris. Suspendisse finibus, ligula a accumsan volutpat, magna metus ullamcorper lorem,
       condimentum dignissim purus neque quis est. Nunc fringilla sapien non tincidunt aliquam. Phasellus 
       nisl dui, faucibus at purus vel, placerat pulvinar sapien. Nullam varius, diam eget tincidunt ornare,
          orci augue cursus eros, eu ultricies nunc sem at quam. Duis ipsum magna, faucibus id interdum id,
          mollis non libero. Ut sit amet pharetra enim. Sed in porta lacus. Suspendisse risus enim,
          scelerisque quis turpis vitae, auctor dapibus nibh. Lorem ipsum dolor sit amet, consectetur 
          adipiscing elit. Pellentesque vulputate at erat vitae varius. Aenean vulputate non lacus eget
          semper. Praesent iaculis tincidunt ipsum, sed consequat orci auctor in. Phasellus a magna sit
          amet est venenatis imperdiet semper in nunc. Integer sodales eros ut justo cursus, sit amet
          faucibus diam feugiat. 
    </div>
  </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
</div>