.event-row {
    display: block;
    position: relative;
    top: -20px;
    background: transparent;
;
}
.top-row {
    height: 70px;
}
.event-block {
    border-radius: 5px;
    width: 250px;
    height: 110px;
    overflow: hidden;
    background: #3b3a3a;
    padding: 5px;
}
.event-block:hover {
    background: #444;
}
.date-block {
    position: relative;
    top: -100px;
    left: 110px;
}
.date {
    font-size: 200%;
    font-weight: bold;
    color: #ddd;
}

img {
    margin: 5px;
    width: 90px;
    height: 90px;
}
.title-block {
    width: 60%;
    position: relative;
    top: -100px;
    left: 300px;
    a {
        font-size: 200%;
        color: #69fdff;
        font-weight: bold;
    }

}

