<div class="container">
  <div class="top-row"></div>
    <div class="event-row" *ngFor="let event of events; let i = index">
    <div class="row">
      <div class="event-block">
        <div class="image-block">
          <a [routerLink]="['/event', event.type, event.id]"><img src="{{imageUrl + event.image}}" alt="{{event.title}}"></a>
          <div class="date-block">
            <span class="date">{{ event.month }}</span><br>
            <span class="time">{{ event.day }}</span>
            {{ event.entrance }}  
          </div>    
        </div>
      </div>
        <p class="title-block">
        <a [routerLink]="['/event', event.type, event.id]">{{ event.title }}<span *ngIf="event.soldout"> - sold out</span></a>
        </p>
    </div>
  </div>
</div>
