.box {
    height: 40px;
    background: #3b3a3a;
    margin: 0px 0px 20px 20px;
    border-radius: 5px;
    padding: 10px;
}

.box:hover {
    background-color: #444;
}

.caption {
    opacity: 1;
    font-size: 200%;
    color: #69fdff;
    font-weight: bold;
    position: relative;
    top: -180px;
    padding-left: 10px;
    line-height: 110%;
    .title {
        font-size: 140%;
    }
}

.caption-screen {
    opacity: 0.5;
    background-color: black;
    width: 680px;
    height: 90px;
    position: relative;
    top: -90px;
}

.description {
    background: transparent;
    position: relative;
    top: -90px;
    width: 700px;
}

.entrance-block {
    background: transparent;
    width: 300px;
    position: relative;
    left: 700px;
    top: -420px;
}

.event-block {
    padding-top: 50px;
}

.info-block {
    width: 700px;
    border: 10px solid #3b3a3a;
    height: 420px; 
}

.info-block:hover {
    border-color: #444;
}

.club-background {
    img{
        width: 1150px;
    }
    position: absolute;
    top: 160px;
    z-index: -1;
}

.top {
    height: 180px
}

.bottom {
    height: 260px
}


