<div class="container">
    <div class="event-block">
        <div class="info-block">
            <div class="img">
                <img id="test" src="{{baseUrl + event?.image}}" alt="" width="680" height="400">
            </div>
            <div class="caption-screen"></div>
            <div class="caption">
                <p>{{event?.day }}</p>
                <p class="title">{{event?.title}}</p>
            </div>
        </div>
        <div class="entrance-block">
            <div class="box">Doors open: {{event?.door}}</div>
            <div class="box">Ticket: {{event?.price}}</div>
        </div>
        <div class="description">{{event?.description}}</div>
        <div class="club-background">
            <img  class="top" src="/assets/myClubContent.png" alt="">
            <img class="bottom" src="../assets/body-bg.png" alt="">
            <img class="bottom" src="../assets/body-bg.png" alt="">
        </div>
    </div>
</div>