/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #b5b5b5;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.container {
    background-color: transparent;
}

.line {
    background: transparent;
    padding: 3px;
    margin-left: 50px;
    background-image: url("/assets/hr-bg.png");
    background-repeat: no-repeat;
}


.row{
    background-image: url("/assets/body-bg.png");
    background-size: cover;   
    height: 130px;
    /*padding-left: 100px;*/
}

.top-row {
    background-image: url("/assets/myClubContent.png");
    background-size: cover;
    height:100px;
}


