img {
    margin: 0;
    width: 620px;
    height: 400px;
    position: relative;
    left: -40px;
    top: 0px;
}

li {
    list-style-type: none;
}

.arrow {
    position: relative;
    left: -40px;
}

.caption {
    opacity: 1;
    font-size: 200%;
    color: #69fdff;
    font-weight: bold;
    position: relative;
    top: -180px;
    left: -30px;
    line-height: 110%;
    .captionTitle {
        font-size: 140%;
    }
}

.caption-screen {
    opacity: 0.5;
    background-color: black;
    width: 621px;
    height: 95px;
    position: relative;
    top: -95px;
    left: -40px;
}

.club-slider {
    border: 10px solid #222;
    width: 640px;
    height: 420px;
    float: left;
}

.date:hover {
    color: rgb(249, 245, 26);
    text-decoration: none;
    cursor: pointer;
}

.date {
    color: white;
}

.event {
    padding-top: 25px;
}

.more a{
    float: right;
    color: #69fdff;
}

.news {
    background-color: transparent;
    width: 29%;
    /*height: 100px;*/
    float: left;
    padding: 20px 10px 0px 20px;
}


.news-date {
    font-size: 80%;
}

.news-header {
    color: white;
}

.program {
    /*float: left;*/
    position: absolute;
    /*top: 400px;*/
    left: 640px;
    width: 520px;
}

.title {
    margin-left: 15px;
    color: #b5b5b5;
}

.today {
    position: relative;
    top:50px;
}




