  
<div class="container">

  <div class="top-row">
    <div class="today">
        <div class="club-slider">
          <ul>
            <li *ngFor="let band of bands; let i = index">
              <div *ngIf="style[i]">
                <img [@fadeIn] src="{{imageUrl + band.image}}">
                <div class="caption-screen"></div>
                <div class="caption">
                    <p>{{band.day }}</p>
                    <p class="captionTitle">{{band.title}}</p>
              </div>
              </div>
            </li>
          </ul>
          
        </div>
        <div class="program">
          <ul>
            <li *ngFor="let band of bands; let i = index">
              <div class="event">
                <span class="arrow"  *ngIf="style[i]">></span>
                <span style="color: transparent" [hidden]="style[i]">></span>
                <a class="date" [routerLink]="['/event', band.type, band.id]">
                  <span class="date">{{ band.shortDate }}</span>
                  <span class="title">{{ band.title }}</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="line"></div>
  <div class="news" *ngFor="let new of news">
        <span class="news-header">{{news[0].title}}</span><br>
    <span class="news-date">{{news[0].date}}</span><br><br>
    {{news[0].content | truncate: 200}}
    <span class="more" *ngIf="news[2].content.length>=200"><a href="">more >></a></span>
  </div>
<div class="row"></div>
<div class="row"></div>

  
    
    

